body {
  background-color: #252a36;
  font-family: "Vazir" , "serif", "ubuntu" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {
  color: #f8f8f4;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  color: #f8f8f4 !important;
  background-color: #44475a !important;
}


.form-control {
  background-color: #44475a;
  color: #f8f8f4 !important;
  border-color: #bd93f9 !important;
}
